<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestSymplifica</title>
</head>
<body>
    <div class="container">
        <div class="product-selection">
            <div class="right-list">
                <h3>Product list</h3>
                <ul>
                    <li th:each="product : ${products}">
                        <input type="checkbox" th:value="${product.id}" th:text="${product.name}">
                    </li>
                </ul>

            </div>

        </div>
    </div>
</body>
</html>